<html>
        <head>
            <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
    
        </head>
        <body>
            <h1>Hello World! Person: <%= ID %> </h1>
            <h2>Query String Value: <%= queryStr %></h2>
            
        </body>
    
    </html>